.search {
    margin-left: 980px;
    margin-bottom: -40px;
    width: 100px;
    
}

.select-gid {
    margin-left: 893px;
    width: 500px;
}

.grpid {
    margin-left: 680px;
    margin-bottom: -30px;
}